<div class="row">

    <div *ngIf="!fetched"
        id="message"
        style="text-align:center;">
        Loading... trying to fetching the data from Bukalapak API
    </div>

    <div *ngFor="let product of products" class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="assets/img/ubi-jalar1.jpg">
            </div>
            <div class="content">
                <div class="author">
                    <img class="avatar border-white" src="assets/img/ubi-jalar1.jpg">
                    <h4 class="title">
                        <a [routerLink]="['/product/detail', product.id, {name: productNameToUrl(product.name)}]">
                            {{shrinkProductName(product.name)}}
                        </a>
                    </h4>
                </div>
                <p class="description text-center">
                    {{product.category}}
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <h5>
                            <a href="{{product.url}}">
                                <span class="ti-arrow-top-right"></span>
                                <br>
                                <small>Buy</small>
                            </a>
                        </h5>
                    </div>

                    <div class="col-md-7">
                        <h5>
                            Rp.{{product.price}}
                            <br>
                            <small>Price</small>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

