<div class="row">
    <div class="col-md-12">
	<div class="card">
	    <div class="header">
		<h4 class="title">{{product.name}}</h4>
		<p class="category" style="margin-top: 15px;">
		    Tags: 
		    <button *ngFor="let tag of product.tag_pages"
			    type="button" class="btn btn-default btn-xs">
			{{tag.name}}
		    </button>
		</p>
	    </div>
	    <div class="content">
		<div class="row">
		    <div class="col-md-4">
			<img src="{{product.images[0]}}" class="thumbnail">
		    </div>
		    <div class="col-md-5">
			<app-product-detail-product [product]="product"></app-product-detail-product>
		    </div>
		    <div class="col-md-3">
			<app-product-detail-seller [seller]="seller"></app-product-detail-seller>
		    </div>
		</div> <!-- div.row end -->
	    </div> <!-- div.content end -->
	</div> <!-- div.card end -->
    </div> <!-- div.col-md-12 end -->
</div> <!-- div.row end -->
