<div *ngIf="seller" class="card">
    <div class="header">
        <h5 class="title">Seller</h5>
    </div>

    <div class="content">
        <!-- seller name, location and photo profile -->
        <div class="row" id="seller-identity"> 
            <div class="col-md-4">
                <img id="seller-avatar" src="{{seller.avatar}}" class="img-circle">
            </div>
            <div class="col-md-8">
                {{seller.name | ellipsis:16}}<br>
                <span class="ti-location-pin"></span>
                {{seller.address.city}}
            </div>
        </div>
        <!-- seller information -->
        <p class="seller-info">
            Delivery Time:<br>
            {{seller.delivery_time}}
            <br><br>

            Positive Feedback:<br>
            {{seller.feedbacks.positive}}
            <br><br>

            Negative Feedback:<br>
            {{seller.feedbacks.negative}}
            <br><br>

            Last Login:<br>
            {{seller.last_login | date:'medium'}}
            <br><br>

            Joined At:<br>
            {{seller.joined_at | date:'medium'}}
        </p>
    </div>
</div>

